.btn {
    background-color: lightsteelblue;
    padding: 0 20px;
    color: #fff;
    font-size: .75rem;
    border-radius: 100px;
    height: 2.5rem;
    font-weight: 500;

&--large {
    padding: 20px 30px;
    display: inline-block;
    font-size: .8rem;
    height: 3.5rem;
}

&--t-margin {
    margin-top: 40px;
}

}



