.btn {
    background-color: lightsteelblue;
    padding: 0 20px;
    color: #fff;
    font-size: .75rem;
    border-radius: 100px;
    height: 2.5rem;
    font-weight: 500;

&--large {
    
    display: inline-block;
    font-size: .6rem;
    height: 3.5rem;

    @mixin atMedium {
        padding: 20px 30px;
        font-size: .8rem;
    }
}

&--t-margin {
    margin-top: 40px;
}

&--centered {
    width: 100%;
    text-align: center;
}

}



