.btn {
    background-color: lightsteelblue;
    padding: 0 20px;
    color: #fff;
    font-size: .75rem;
    border-radius: 100px;
    height: 2.5rem;
    font-weight: 500;

&--large {
    height: 3rem;
    display: inline-block;
    padding: 0 20px;

    @mixin atMedium {
        height: 3.3rem;
        display: block;
        font-size: 1rem;
        padding: 0 30px;
    }
}

&--t-margin {
    margin-top: 40px;
}

&--centered {
    width: 100%;
    text-align: center;
}

}



