.card {
    padding: 5px 15px;
    max-width: 27.5rem;
    border-radius: 6px;
    margin: 2rem auto;
    

    @mixin atMedium {
        padding: 45px 30px;
        margin: 0 auto 20px auto;
        box-shadow: 2px 1px 2px 2px aliceblue;
    }

    &__title {
        font-size: 2rem;
        margin: 0 0 60px 0;
        text-align: center;
        width: 100%;
    }

    &__text {
        font-size: 1rem;
        line-height: 1.5;
        width: 100%;
        text-align: center;
        font-weight: 400;
    }

    &__logo {
        height: 160px;
        width: 160px;
        margin-bottom: 20px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    &--small {
        padding: 20px;
        line-height: 1.5;
        font-size: .6rem;
        width: 40%;
        max-width: 440px;
        border-radius: 6px;
        position: absolute;
        top: 40px;
        left: 40px;
        background-color: aliceblue;

        @mixin atMedium {
            font-size: 1rem;
        }
    }

    &--small-title {
        font-size: 1rem;
    }

    &--large {
        max-width: 52rem;
        border-radius: 6px;
        margin: 0 auto;
        position: relative;
        padding: 14px;
        
        
         @mixin atMedium {
            box-shadow: 2px 1px 2px 2px aliceblue;
            padding: 20px;
         }

        & img {
            height: 70%;
            @mixin atSmall {
                height: 100%;
            }
        }
    }

    &--promise {
        margin: 3rem 0 0 0;
        padding: 0 18px;
        display: grid;
        

        @mixin atMedium {
            padding: 40% 60px 120px 60px;
            margin: 0;
            display: grid;
        }

        @mixin atLarge {
            padding: 40% 160px 120px 160px;
        }
        
    }

    &--promise-title {
        margin: 0 0 20px 0;
        font-weight: 500;
    }

    &--promise-text {
        line-height: 1.5;
        text-align: center;
        color: white;
        font-weight: 400;
    }

    &--promise-number {
        text-align: center;
        font-weight: 600;
        font-size: 3.75rem;
        color: white;
        position: relative;
        
    }
}
