.hero {

    padding: 0 18px;
    margin-top: 4rem;
    display: inline-block;

    @mixin atSmall {
     
        font-size: 2.25rem;
        min-height: 30vh;
    }

    &__title {
        color: white;
        text-shadow: 2px 2px 2px rgba(0,0,0,.8);
        
        @mixin atSmall {
            color: black;
            text-shadow: none;
        }
    }

    &__text {
        margin: 20px 0 0 0;
        padding: 0;
        font-weight: 400;
        max-width: 350px;
        color: white; 
        text-shadow: 2px 2px 2px rgba(0,0,0,.8);

        @mixin atSmall {
            max-width: 100%;
            color: black;
            text-shadow: none;
        }
    }

    &__image {
        position: relative;
        height: 53vh;
    }

    &__content {
        position: absolute;
        left: 40px;
        top: 45%;
        max-width: 300px;
        max-height: 160px;
        transform: translateY(-50%);



        @mixin atSmall {
            position: static;
            max-height: 100%;
            max-width: 100%;
            top: 0;
            left: 0;
            transform: translateY(0);
            background-color: transparent;
        }

    }
}