.nav-menu {
    float: right;
    margin-top: -5px;

    position: absolute;
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;

    @mixin atMedium {
        position: static;
        height: auto;
        width: auto;
        overflow: visible;
        visibility: visible;
    }
    
    & ul {
        margin: 0;
    }

    & li {
        
        margin: 5px;
        list-style: none;
        float: left;
    }

    & a {
        text-decoration: none;
        color: white;
        padding: 8px;
    }


}

.header {
    
    padding: 20px;

    &__box {
        @mixin clearfix;
        display: inline-block;
        margin: 0;

    }


    &__logo {
        padding: 0;
        margin: 0;
    }

    &__menu-icon {
        width: 20px;
        height: 20px;
        position: absolute;
        background-color: black;
        top: 30px;
        right: 20px;

        @mixin atMedium {
            display: none;
        }
    }
}
