.page-section {

    margin: 2rem 0;

    @mixin atMedium {
        margin: 3.4rem 0;
    }

    &--yellow {
        min-height: 80vh;
        background-color: rgb(230, 182, 52);
        padding: 0 18px;
        
        @mixin atMedium {
            min-height: 100vh;
            padding: 0;
        }
    }

    &--green {
        background-color: $mainGreen;
    }

    &--large {
        margin: 4.4rem 0;
    }

    &--hidden-at-small {
        display: none;
         @mixin atSmall {
             display: grid;
         }
    }

    &--view-at-small {
        display: inline-block;
        @mixin atSmall {
            display: none;
        }
    }

    &--recipe {
        padding: 2rem 0;

        @mixin atSmall {
            padding: 0;
        }
    }

}