.page-section {
    margin: 3.4rem 0;

    &--yellow {
        min-height: 100vh;
        background-color: rgb(230, 182, 52);
       
    }

    &--green {
        background-color: $mainGreen;
    }

    &--large {
        margin: 4.4rem 0;
    }

}