.row {
    &--medium-4 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }

    &--medium-6 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &--medium-8 {
        
        @mixin atMedium {
            display: grid;
            grid-template-columns: 40% 60%;
        }
    }

    &--xs-gutters {
        column-gap: 25px;
    }

    &--b-border {
        border-bottom: 1px solid lightsteelblue;
    
    }
}